<h3>Danh sách sản phẩm</h3>
<!-- Danh sách sản phẩm -->
<table class="table table-hover mt-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Danh mục</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sanpham in dsSanPham">
            <td class="text-nowrap" width="1px">
                <!-- Fit chiều rộng = content -->
                {{sanpham.id}}
            </td>
            <td class="text-nowrap" width="1px">
                <div class="bg-light border rounded d-flex align-items-center justify-content-center" 
                    style="height: 60px;width: 60px;">
                    <img src="{{sanpham.anh}}" class="mh-100 mw-100" alt="">
                </div>
            </td>
            <td>{{sanpham.ten}}</td>
            <td>{{sanpham.tenDanhMuc}}</td>
            <td>
                <button class="btn btn-sm btn-primary">Xem</button>
                <button class="btn btn-sm btn-warning">Sửa</button>
                <button class="btn btn-sm btn-danger" ng-click="onClickDelete(sanpham.id)">Xóa</button>
            </td>
        </tr>
    </tbody>
</table>